BODY	{
		margin-left:4px; margin-right:1px;
		background: url('../images/layout/top_shaddow.gif') repeat-x;margin-top:10px;
		background-attachment: fixed;
		font: 11px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		}

.text-regular
		{
		font: 11px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		}		
.text-paging	
		{
		font: 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		margin:0px; padding: 0px;
		}	
BODY.login	{
		background:url(../images/bg.gif);
		background-repeat:repeat-x;
		margin:0;
		}
.login_txt_box {
		font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}		

table.list
        {
        width: 100%;       
        border-collapse:collapse;    
        margin-top:0px;
        padding-top:0px;    
        }
.tbheader
	{
	background:#fff;
	font: 12px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	width:100%;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	}       
 
table.normal
        {
        width: auto;        
        padding: 1;
        margin: 5 auto 0.5em auto;
        border: 1px solid #f5e9db;
        border-collapse:collapse;
        }
table.form
		{
		padding: 10px 10px 0 0;
		margin-top: 10px;
		}        
td.normal
		{
		padding: 5px 10 0 20;
		font: 12px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		color: #666;
		}  
td.cols1{
		width: 175px;
		padding: 5px 10 0 20;
		font: 12px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		color: #666;
		}		
td.sublist
		{
		padding: 2px 0 0 5;
		font: 11px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		color: #666;
		} 		
td.pagging
		{
		padding: 0px;
		font: 11px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		color: #666;
		} 		              
.cs1
        {
        width:30em;
        }
.cs2
        {
        width:20em;
        }
.cs1 td,
.cs2 td,
#scientificNotation
        {
        text-align:right;
        }
caption
        {
        padding: 0 0 5px 0;
        margin:0 auto;
        width:auto;
        font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        text-align: right;
        }
/*
th
        {
	margin-top:0px; margin-left:0px; margin-right:0px;
	padding-left:2px;
	padding-top:6px;
	padding-bottom:6px;
	background: transparent #fcfcfc url(../images/layout/grid3-hrow.gif) repeat-x 1 bottom;
	font:normal 12px arial,tahoma,helvetica,sans-serif;       
	border-right: 1px solid #fff; 
        }
        */
td.total
        {
        border-top: 0;
        border-left: 0;
        border-right: 1px solid #f5e9db;
        background: none;
        text-align:right;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:1px;
        }
th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize

        {
        cursor:pointer;
        background: #CAE8EA url(../images/tables/bg_headf.jpg) no-repeat;
        padding: 8px 12px 4px 16px;
        }
th.forwardSort
        {
        background:#CAE8EA url(../images/tables/bg_headg.jpg) no-repeat 0 0;
        }
th.reverseSort
        {
        background:#CAE8EA url(../images/tables/bg_headh.jpg) no-repeat 0 0;
        }
th.forwardSort a,
th.reverseSort a
        {
        color:#000;
        outline:0 none;
        }
/*
These styles should be added when very long tables are expected
th.sort-active
        {
        background:#CAE8EA url(../images/tables/bg_header_sorting.jpg) no-repeat 0 0;
        cursor:wait;
        }
th.sort-active a
        {
        color:#a80000 !important;
        cursor:wait;
        }
*/
th a
        {
        text-decoration:none;
        color: #4f6b72;
        }
/*
td a
        {
        text-decoration:none;
        color:#239;
        }
td
        {
        margin:0 auto;
        border:0px solid #ddd;
        }


td a:hover
        {
        color:#a84444;
        border-bottom:1px dotted #a80000;
        }
*/

td.list
        {        
        font: normal 10px  sans-serif, "Trebuchet MS", Verdana, Arial, Helvetica;
        border-right: 0px solid #f5e9db;
        border-bottom: 1px solid #d0d0d0;
        padding: 2px 6px 2px 6px;
        font-weight:normal;
        }
.first-cols       
        {
        background: transparent url(../images/layout/grid3-special-col-bg.gif) repeat-y right;
        font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 0px solid #f5e9db;
        border-bottom: 1px solid #d0d0d0;
        padding: 2px 6px 2px 6px;

        font-weight:normal;  
        text-align:right;      
        }
td.lft
        {
        text-align:left;
        }
tr.alt
        {        
		background: #FBFBFB;
        }
tr.alt3
        {        
		background: #F7F7F7;
        }        

fieldset
		{
	    border:1px solid #B5B8C8;
	    padding:10px;
	    margin-bottom:10px;
	    padding-top: 0;
	    padding-bottom:5px;	
		}
fieldset legend {
    font:bold 11px tahoma, arial, helvetica, sans-serif;
    color:#15428b;
    margin-bottom:10px;
}		
fieldset legend.login {
    font:bold 14px sans-serif, tahoma, arial, helvetica;
    color:#15428b;
    margin-top:40px;
    margin-bottom:20px;
    padding-bottom:5px;
}	
table td.login
			{
			font:normal 12px/20px sans-serif, tahoma, arial, helvetica;
			text-align: right;
			padding-right:10px;
			}
form   	{
		margin: 0px;
		padding: 0px;
		}	
	
.pager
		{
		font: bold 10px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		text-align: center;
		vertical-align: middle;
		margin: 0px;
		padding: 0px;
		line-height: 17px;
		border: 1px solid #f5e9db;
		}	
		
/*

Nice Button CSS

*/

.clear {
	overflow: hidden;
	width: 100%;
}
		
a.menu-tree
	{
	text-decoration:none;
	color:#333;	
	}	
#add-search-box	
	{		
	right:2px;	
	float:right;
	padding-top:3px;
	}		
#add_item_data
	{
	position:relative; top:-25; right:2; z-index:1;		
	float:right;
	}
.div-add-box
	{	
 	position:absolute;  	
 	margin:0 auto;
 	width:300px;
 	z-index:100;
	}
#tbl_form_box
	{
	margin-left:15px;
	top:15px;
	bottom:10px;
	padding:10px;	
	font:normal 11px arial,tahoma,helvetica,sans-serif;
	}
#tbl_search_box
	{	
	font:normal 11px arial,tahoma,helvetica,sans-serif;
	}

/*


COBA AJA .... SMOGA BETE-NYA ILANG


*/	

.tborder
{
	background: #ffffff;
	color: #000000;
	border: 1px solid #FFFFBF;
}
.tcat
{
	background: #c3daf9 url(../images/layout/grid-yellow.gif) repeat-x;
	background-position:0px -8px;
	color: #083772;
	font-size: 12px;
	font-weight:bold;
	padding:3px;
	line-height:30px;
}
.tcat a:link, .tcat_alink
{
	color: #083772;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #083772;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #083772;
	text-decoration: underline;
}
.thead
{
	background: #c3daf9 url(../images/layout/grid-yellow-light.gif) repeat-x;
	background-position:0px -8px;
	color: #083772;
	font-size: 11px;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:4px;
}
.thead a:link, .thead_alink
{
	color: #083772;
}
.thead a:visited, .thead_avisited
{
	color: #083772;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #083772;
}
.tdatahead
	{
	background-color:#DDDDDD;
	font-size: 11px;
	padding:3px;
	height:28px;
	}
.tdatacontent
	{
	font-size: 11px;
	border-collapse:collapse;
	padding-left:4px;
	padding-right:4px;
	padding-top:1px;
	padding-bottom:1px;
	vertical-align:top;
	}	
.tdatacontentsum
	{
	font-size: 11px;
	background:#FBFBFB;
	border-collapse:collapse;
	border-bottom:1px solid #fff;
	border-left:1px solid #fff;
	padding-left:4px;
	padding-right:4px;
	}	
.tdatacontentsum2
	{
	font-size: 11px;
	background:#F7F7F7;
	border-collapse:collapse;
	border-bottom:1px solid #fff;
	border-left:1px solid #fff;
	padding-left:4px;
	padding-right:4px;
	}	
.tdatacontent-first-col
	{
	font-size: 11px;
	background: #EAEAEA;
	padding-right:4px;
	text-align:right;
	border-top:1px solid #fff;
	}	
.tfoot
{
	background: #c3daf9 url(../images/layout/bg000000.gif) repeat-x;
	color: #083772;
	font-size: 11px;
	padding:3px;
}
.tfoot a:link, .tfoot_alink
{
	color: #083772;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #083772;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #083772;
}
.alt1, .alt1Active
{
	background: #ffffff;
	color: #000000;
}
.alt2, .alt2Active
{

	color: #000000;
}

/* COBA TRANSPARANT BG */

#div-bg-note-trans
	{
	display:none;
	position:relative; bottom:200; right:50; z-index:100;	
	float:right;
	}

.table_note
	{
	border:1px solid #cccccc;
	margin:0 0;
	padding:0px;	
	}
.td_note_cols_1
	{
	padding-left:4px;
	background:#f3f6fa;
	width:30px;
	border-left:1px dashed #cccccc;
	border-right:1px dashed #cccccc;
	font-size:11px;
	text-align:center;
	}
.td_note_cols_2
	{
	padding-left:4px;
	background:#ffffff;
	border-right:1px dashed #cccccc;
	font-size:11px;
	}		
	
.button {
	height:40px;
}

input[type=text], select {
	font: 11px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
}

input[type=button] {
	font: 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
}

#infoBox, #formBox, #searchBox, #warningBox{
display:none;
position:absolute;
border:1px solid #D2D2D2;
top:50%;
left:50%;
padding-left:5px;
padding-top:2px;
margin:-120px 0 0 -150px;
background-color:#fff;
}

.theadInfoBox, .theadFormBox , .theadSearchBox, .theadWarningBox {
background:#fff url(../images/layout/grad_yellow_bg.gif) repeat-x;
height:30px;
padding-top:0px;
padding-bottom:2px;
padding-left:5px;
}

.tcontentInfoBox, .tcontentFormBox, .tcontentSearchBox, .tcontentWarningBox {
background:#fff;
padding-left:5px;
padding-top:3px;
padding-bottom:3px;
}

#tbl_search_box, #tbl_form_box, .tbl_form_box, #tbl_info_box {
	font-size:11px;
}

/* ## jQuery TAB */

#BogoTabPlaceholder1 { 
  border-width: 1px;
  border-color: #999;
  border-style: solid solid solid solid;
  background-color: #fff;
  /* height: 400px; */
  overflow: auto;
  padding: 2px;
  margin: 1px 0 0 0;
  width:98%;
}

.bogoTabsActiveLabel {
  text-decoration: none;
  padding: 2px 1em 0 1em;
  font-weight: bold;
  border-style: outset outset outset outset;
  border-width: 1px;
  border-color: #999;
  font-size: 12px;
  color: #000;
  background-color: #DDDDDD;
  margin: 0 1em 0 0;
}

.bogoTabsInactiveLabel {
  font-size: 12px;
  text-decoration: none;
  padding: 2px 1em 0 1em;
  font-weight: normal;
  border-width: 1px;
  border-color: #999;
  border-style: inset;
  color: #333;
  background-color: #F7F7F7;
  margin: 0 1em 0 0;
}